In [1]:
from __init__ import add_project_root_to_path
add_project_root_to_path()

from dataset import (
    load_image_data,
    load_response_data,
)

Project root: /Users/colinconwell/GitHub/AffectExMachina/source

### Subject Level Data

- Data from Vessel (2018): 5 Types of Image; Rating + Keypress Assessment

In [2]:
vessel_subject_data = load_response_data('vessel', average=False)

 - Original Oasis Data (Kurdi, 2018): 900 Images; 4 Types of Image; Arousal + Valence Ratings
 - Data from Brielmann (2019): Beauty Ratings for all 900 Oasis Images

In [3]:
oasis_subject_data = load_response_data('oasis', average = False)

In [4]:
count_data = (oasis_subject_data.melt(id_vars = ['subject','image_name','image_type'], 
                                      value_vars = ['arousal','beauty','valence'],
                                      var_name = 'measurement', value_name = 'rating')
              .query('~rating.isnull()', engine = 'python')
              .groupby(['image_name', 'measurement'])['subject'].nunique()).reset_index()

In [5]:
count_data.groupby('measurement')['subject'].agg(['min', 'mean', 'max'])

             min        mean  max
measurement
arousal      100  102.238889  104
beauty       104  189.250000  368
valence      101  103.248889  108

### Averaged Data

In [6]:
vessel_response_data = load_response_data('vessel')
oasis_response_data = load_image_data('oasis')

### Image Data

In [7]:
vessel_image_data = load_response_data('vessel')
oasis_image_data = load_image_data('oasis')